/* --primary-color: #f77737;
  --secondary-color: #fe308a;
  --grey-color-light: #dadde1;
  --grey-color-dark: #6e6e6e;
  --color-black: #111010;
  --color-white: #fff; */

/* PARAGRAPH */
.paragraph {
  font-size: 1.4rem;
  color: var(--grey-color-dark);
  line-height: 1.8;
}

/* HEADING */
.heading-primary {
  display: inline-block;
  font-size: 3rem;
  font-weight: 100;
  background: linear-gradient(
    90deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading-primary .top {
  display: block;
  margin-bottom: -0.5rem;
}

/* ****** BUTTON ***** */
.btn {
  width: max-content;
  border: none;
  border-radius: var(--border-radius);
  transition: all 200ms;
  cursor: pointer;
  font-family: inherit;
  color: var(--grey-color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.8rem;
}

.btn--primary {
  background: var(--primary-color);
  background: linear-gradient(
    90deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  color: var(--color-white);
}

.btn--secondary {
  background: #ffff19;
  color: #424242;
}

.btn--secondary:hover {
  color: #fff;
}

.btn--secondary:hover {
  box-shadow: rgb(0 0 0 / 16%) 0 0.1rem 0.4rem, #c84200 0 0 0 0.2rem;
  background-color: #e85811;
}

.btn--primary:hover {
  box-shadow: rgb(0 0 0 / 16%) 0 0.1rem 0.4rem, #c84200 0 0 0 0.2rem;
  background-color: #e85811;
}

.btn--tertiary {
  box-shadow: rgb(0 0 0 / 2%) 0px 1px 3px 0px,
    rgb(27 31 35 / 15%) 0px 0px 0px 1px;
  background-color: var(--grey-color-light-2);
}

.btn--tertiary:hover {
  background-color: var(--grey-color-dark-2);
}

.btn--link {
  display: inline-block;
  text-decoration: none;
}

.btn--big {
  padding: 0.5rem 1.4rem;
  font-size: 1.6rem;
}

.btn--small {
  padding: 0.7rem 0.8rem;
  font-size: 1.4rem;
}

/* ****** TEXT LINK ****** */
.link {
  text-decoration: none;
  letter-spacing: 0.5px;
  color: var(--grey-color-dark);
}

.link--text {
  color: #1877f2;
  font-size: 1.2rem;
}
.link--text:hover {
  text-decoration: underline;
}

/*  FORM */
.form {
  width: 45%;
  min-width: 25rem;
  max-width: 38rem;
  background-color: #f4f4f436;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 2rem 2rem;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
}

.form .btn {
  margin-bottom: 1.3rem;
}

.form--header {
  color: #101010;
}

.form-input-group {
  font-size: 1.3rem;
  display: flex;
  margin-bottom: 1rem;
  flex-direction: column;
}

.form-input {
  width: 100%;
  padding: 1.2rem 1rem;
  margin: 0.8rem 0;
  display: inline-block;
  border: none;
  border-radius: var(--border-radius);
  outline: 1px solid #dddddd;
  transition: all 0.4s;
}

.form-input:focus:invalid,
.form-textarea:focus:invalid {
  outline: 0.2rem solid var(--secondary-color);
}

.form-input:focus:valid,
.form-textarea:focus:valid {
  outline: 0.2rem solid rgb(0, 192, 0);
}

.form-input-label {
  margin-bottom: -0.5rem;
}

.form-help {
  display: flex;
  justify-content: space-between;
}

.form--header {
  padding-bottom: 2rem;
  border-bottom: 1px solid #666;
  margin-bottom: 3rem;
}

.form-title {
  font-size: 2.2rem;
  font-weight: 100;
}

.form-textarea {
  width: 100%;
  padding: 1.2rem 1rem;
  overflow: scroll;
  margin: 0.8rem 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  outline: none;
  transition: all 0.4s;
}

/* Tablet Potrait */
@media only screen and (max-width: 900px) {
}

/* Phone */
@media only screen and (max-width: 600px) {
  .heading-primary {
    font-size: 2.5rem;
  }

  .form {
    width: 100%;
    min-width: unset;
    max-width: unset;
  }
}
