.contactme__showcase {
  padding: 8rem 12rem 8rem 5rem;
  color: var(--color-white);
  background: linear-gradient(
    90deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );

  clip-path: polygon(
    0% 0%,
    85% 0,
    85% 29%,
    100% 37%,
    85% 37%,
    85% 100%,
    0 100%
  );
}

.contact-me__text {
  width: 100%;
  min-width: 15rem;
  max-width: 40rem;
  font-size: 1.6rem;
}

.contact-me__heading {
  font-size: 2.5rem;
  font-weight: 100;
  margin-bottom: 2rem;
}

.shadow-wrapper {
  width: 50%;
  border-radius: var(--border-radius);
  overflow: hidden;
  filter: drop-shadow(0px 0px 21px 0px rgba(0, 0, 0, 0.61));
}
