.flex-section {
  padding: 0 var(--centering-padding);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 45rem;
}

.grid-container {
  padding: 0 var(--centering-padding);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 30rem));
  grid-gap: 3rem;
  justify-content: space-evenly;
}

/* ********* HEADER ******** */
.header {
  padding: 2rem var(--centering-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.header__nav {
  display: inline-block;
}

.header__nav-link {
  display: inline-block;
  transition: all 0.2s;
  padding: 0.5rem 0;
  font-size: 1.4rem;
}

.header__nav-link:not(:last-child) {
  margin-right: 2rem;
}

.header__nav-link:hover {
  box-shadow: 0px 2px 0px 0px var(--primary-color);
}

.active {
  box-shadow: 0px 2px 0px 0px var(--primary-color);
}

.header__user-nav {
  display: inline-block;
}

.header__logo-container {
  display: inline-flex;
}

.header__logo {
  width: 7rem;
}

/* ********* FOOTER ******** */
.footer {
  height: 4rem;
  background: rgb(247, 119, 55);
  background: linear-gradient(
    90deg,
    rgba(247, 119, 55, 1) 0%,
    rgba(254, 48, 138, 1) 100%
  );
  clip-path: url(#footer-clip);

  margin-top: auto;
}

/* SOCIAL ICON */
.social-links a {
  text-decoration: none;
}

.social-links {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-flex;
  flex-direction: column;
  gap: 2rem;
  width: fit-content;
  padding: 0 1rem 0 0;
}

.social-icon {
  display: block;
  width: 4rem;
  height: 4rem;
  padding: 0.9rem;
  border-radius: 2.6rem;
  transition: all 0.2s;
  cursor: pointer;
  border: none;
  background: var(--color-white);
  border: 0.01rem solid var(--grey-color-light);
}

.social-icon:hover {
  box-shadow: 0px 0px 0px 5px var(--grey-color-light);
}

/* FOOTER SVG */
.svg {
  position: absolute;
  width: 0;
  height: 0;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  transition: all 0.1s;
  opacity: 0;
  z-index: -1;
}

.show-overlay {
  opacity: 1;
  z-index: 100;
}

/* Mobile Nav */
.mobile-nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
  visibility: hidden;
  opacity: 0;
  width: 0%;
  background-image: linear-gradient(
    90deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );

  transition: all 0.2s;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  align-content: space-between;
}

.mobile-nav__nav {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

.mobile-nav__nav-link {
  display: block;
  padding: 1rem 0;
  color: var(--color-white);
  font-size: 1.6rem;
  text-align: center;
}

.mobile-nav__user-nav {
  border-top: 2.5px solid var(--color-white);
  align-self: flex-end;
  text-align: center;
  padding: 1rem 0;
}

.open-mobile-nav-icon {
  width: 3rem;
  display: none;
  cursor: pointer;
}

.close-mobile-nav {
  position: absolute;
  color: white;
  font-size: 4rem;
  right: 2rem;
  top: -0.5rem;
  cursor: pointer;
}

.show-mobile-nav {
  width: 70%;
  visibility: visible;
  opacity: 1;
  z-index: 110;
}

/* MODAL */
.modal {
  width: max-content;
  position: fixed;
  top: -300%;
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  left: 0;
  right: 0;
  bottom: auto;
  margin: auto;
  background-color: #fff;
  transition: top 0.2s ease-out;
}

.modal-header {
  background-color: #109648;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 2.5rem 3rem;
}

.modal-header i {
  font-size: 2rem;
  cursor: pointer;
}

.modal-header h2 {
  font-size: 1.6rem;
}

.modal-body {
  padding: 2.2rem 3rem;
}

.modal-footer {
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  border-top: 1px solid #e5e5e5;
  padding: 1.5rem 3rem;
}

.show-modal {
  top: 10rem;
  z-index: 110;
}

.modal__close {
  position: absolute;
  right: 1.8rem;
  top: 1.8rem;
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  font-size: 3rem;
  background-color: var(--grey-color-light-2);
  color: rgb(28, 30, 33);
  cursor: pointer;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s;
}

.modal__close:hover {
  background-color: var(--grey-color-dark-2);
}

/* Tablet Potrait */
@media only screen and (max-width: 900px) {
  .flex-section {
    margin-bottom: 3rem;
  }
  .social-links {
    position: relative;
    margin: 0 auto;
    height: fit-content;
    width: fit-content;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 5rem;
  }

  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(13rem, 50rem));
    /* justify-content: space-between; */
    grid-column-gap: 1.4rem;
    margin-bottom: 5rem;
    grid-row-gap: 7rem;
  }

  .header__nav-link:not(:last-child) {
    margin-right: 1.5rem;
  }
}

/* Mobile-Nav */
@media only screen and (max-width: 800px) {
  .header__nav,
  .header__user-nav {
    display: none;
  }

  .open-mobile-nav-icon {
    display: block;
  }

  .active {
    box-shadow: 0px 2px 0px 0px var(--color-white);
  }
}

/* Phone */
@media only screen and (max-width: 600px) {
  .flex-section {
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 5rem;
  }

  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(100%, 45rem));
    justify-content: center;
  }

  .header {
    margin-bottom: 3rem;
  }

  .social-links {
    position: relative;
    margin: 0 auto;
    height: fit-content;
    width: fit-content;
    flex-direction: row;
    gap: 0.5rem;
  }
}
