.login-with {
  width: 45%;
  max-width: 38rem;
  min-width: 25rem;

  background-color: #f4f4f436;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, #1b1f2326 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem 2rem;
}

.login-with-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  gap: 2rem;
  padding: 0.6rem 0;
  background-color: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
}

.login-with-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.login-with-btn img {
  width: 4rem;
}

/* SEPARATOR */
.separator {
  flex-basis: 5%;
  display: flex;
  justify-content: center;
  align-self: stretch;
}

.separator-text {
  font-size: 1.6rem;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.or-separator {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-black);
}

.vertical-line {
  width: 0.1rem;
  flex-grow: 1;
}

.vertical-line:first-of-type {
  background-image: linear-gradient(
    to bottom,
    var(--secondary-color),
    transparent
  );
}

.vertical-line:last-of-type {
  background-image: linear-gradient(45deg, var(--primary-color), transparent);
}

.mobile-separator {
  display: none;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.horizontal-line {
  height: 0.1rem;
  flex: 1;
}

.horizontal-line:first-child {
  background-image: linear-gradient(45deg, var(--primary-color), transparent);
}

.horizontal-line:last-of-type {
  background-image: linear-gradient(
    to left,
    var(--secondary-color),
    transparent
  );
}

.mobile-separator__text {
  color: var(--color-black);
  font-size: 1.6rem;
}

/* Media Queries */

/* Phone */
@media (max-width: 600px) {
  .separator {
    display: none;
  }

  .mobile-separator {
    display: flex;
  }

  .login-with {
    width: 100%;
    max-width: unset;
    min-width: unset;
  }
}
