@import url(/css/components.styles.css);
@import url(/css/aboutme.styles.css);
@import url(/css/layout.css);
@import url(/css/homepage.styles.css);
@import url(/css/skills.styles.css);
@import url(/css/portofolio.styles.css);
@import url(/css/login.styles.css);
@import url(/css/contactme.styles.css);
@import url(/css/blogs.styles.css);
@import url(/css/dashboard.styles.css);

:root {
  --primary-color: rgb(247, 119, 55);
  --secondary-color: rgb(254, 48, 138);
  --grey-color-light: #ccc;
  --grey-color-dark: #585858;
  --grey-color-light-2: #f0f0f0;
  --grey-color-dark-2: #ddd;
  --color-black: #111010;
  --color-white: #fff;
  --centering-padding: 14rem;
  --border-radius: 0.2rem;

  /* Viewpoints */
  --max-two-eighty: 280px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Happy Monkey", cursive;
  letter-spacing: 0.1rem;
  font-weight: 300;
  line-height: 1.4;
  color: var(--grey-color-dark);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(/img/background-img.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
}

*::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
}

::selection {
  color: var(--color-white) !important;
  background-color: var(--secondary-color);
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
}

.full-width {
  width: 100% !important;
}

.center {
  text-align: center !important;
}

/* Tablet Landscape */
@media only screen and (max-width: 1200px) {
  /* html {
    font-size: 62%;
  } */
  :root {
    --centering-padding: 6rem;
  }
}

/* Tablet Potrait */
@media only screen and (max-width: 900px) {
  :root {
    --centering-padding: 2rem;
  }
}

/* Phone */
@media only screen and (max-width: 600px) {
  :root {
    --centering-padding: 7.5%;
  }
}
